body {
  font-size: 14px;
}

.menu {
  font-size: 1.10rem;
}

.bd-verde {
  color: #00923e;
  border-bottom: 3px solid #00923e !important;
}

.bg-verde {
  background-color: #00923e;
}

.bg-azul {
  background-color: #019e9c;
}

.bg-verde-azul {
  background-color: #00926e;
}

.green-letter {
  color: #00923e;
}

.image-carousel {
  max-height: 411px;
}

.noticia {
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: 0px !important;
}

.avatar-img {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.avatar-img--small{
  width: 60px;
  height: 60px;
}

.img-noticia{
  width: 90%;
}


.logo{
  color: black;
  text-decoration: none;
}

.logo:hover {
  color: #00923e;
  text-decoration: none;
}

.scale-active{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.scale-active:hover{
  transform: scale(1.05);
}

.c-link, .c-link:hover, .c-link:active, .c-link:visited{
  text-decoration: none;
}

.c-link {
  color: white;

}

.c-link:hover{
  color: black;
}

.c-link-yellow{
  color: #ffc107;

}

.c-link-yellow:hover{
  color: black;
}

.card-title {
  text-transform: uppercase;
}